@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Raleway', sans-serif;
  height: '100%';
  overflow-x: hidden;
  background-image: url("/images/gradientbg.png");
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat; 
}

/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3DED97;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #29a673;
}

/* Smooth transition for scrollbar thumb */
::-webkit-scrollbar-thumb {
  transition: background-color 0.3s ease;
}

/* Custom scrollbar for WebKit browsers */
.scrollable-content::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollable-content::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background: #3DED97;
  border-radius: 5px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background: #2EA96D;
}

/* You can add custom styles for the scrollbar corner if necessary */
.scrollable-content::-webkit-scrollbar-corner {
  background: transparent;
}


/* body {
  scrollbar-width: thin;
  scrollbar-color: #3DED97 #f1f1f1;
}

.scrollable-content {
  scrollbar-width: thin;
  scrollbar-color: #3DED97 #f1f1f1;
}  */